*{
    margin:0px;
    padding:0px;
}

.left {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 24px;
    font-size: 15px;
    text-align: center;

  }

  .middle {
    display: block;
    width: 56%;
    margin: 30px 20%;
    /*border:3px solid rgb(243, 146, 206);*/
    text-align: center;
    font-size: 7px;
    padding-left: -50px;
    font-family: 'Fira Sans', sans-serif;


  }

  .right {
    display: inline-block;
    /*border:3px solid rgba(247, 236, 200, 0.911);*/
    position: absolute;
    right: 34px;
    top: 30px;
    font-family: 'Fjalla One', sans-serif;
    padding: 0px;
    color: #24262b;

  }
  #text{
    background-color: rgb(0, 35, 68);
    color:white;
  }
  #text:hover{
    background-color: #9cdefd;
  }
  .btn placeholder{
    color: azure;
  }

  .left img {
    width: 50px;
  }

  .navbar li {
    display: inline-block;
    font-size: 20px;
    padding: 1px 25px;
    font-family: 'Fjalla One', sans-serif;

  }

  .navbar li a {
    color:#24262b;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
  }

  .navbar li a:hover,
  .navbar li a.active {
    color: black;
    text-decoration: underline;
  }

  .btn {
    padding: 3px;
    margin: 0px;
    border-radius: 6px;
    background-color: rgb(19, 16, 16);
    color: aliceblue;
    border: 2px solid rgb(243, 221, 193);
    cursor: pointer;


  }

  .btn:hover {
    background-color: rgb(61, 53, 53);
  }

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    position:absolute;
    top:25vh;
}

.info{
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 125px;
    margin-bottom: 50px;
}
@keyframes content1 {
    from{ 
        /* color:white;  */
        opacity: 0;
    }
    to{
       /* color:black; */
       opacity: 1;
    }
}
@keyframes heading1 {
    from{
       color:white; 
    }
    to{
        color: rgb(0, 35, 63);
    }
}
@keyframes btn1 {
    from{
       background-color:white; 
    }
    to{
        background-color: rgb(0, 76, 138);
    }
}
@keyframes img1 {
    from{
        opacity: 0;
        /* margin-left: 0px; */
    }
    to{
        opacity: 1;
        margin-left: 100px;
    }
}
.image{
    border-radius: 10px;
    margin-left: 100px;
    animation-name: img1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.heading{
     margin-bottom: 5px;
     color: rgb(0, 35, 63);
     line-height: 1.6;
     letter-spacing: 2px;
     font-size:35px;
     font-family: 'Roboto', sans-serif;
     animation-name: heading1;
     animation-duration: 1.5s;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in;
     animation-iteration-count: 1;
     animation-direction: normal;
}
.content{
    letter-spacing: 1px;
    font-family: 'Alegreya', serif;
    animation-name: content1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.btn1{
    margin-top: 30px;
    font-weight: bold;
    padding:8px 12px;
    border: none;
    cursor:pointer;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgb(0, 76, 138);
    color: white;
    animation-name: btn1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.btn1:hover{
    background-color:rgb(0, 31, 56);
    text-decoration: underline;
}