#form__container {
  width: 90%;
    max-width: 649px;
    height: 418px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
    /* display:none; */
    visibility: hidden;
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
    padding: 30px;
    text-align: center;
    background-color: rgb(55, 177, 247);
    color:white;
    margin: 0;
    font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color:black;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: whitesmoke;
}

.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color: rgb(55, 177, 247);
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type='submit'] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}
#pichekiphoto{
  opacity: 0.3;
  border-radius: 20px;
  margin-left: 110px;
}
#nav-heading{
  position: absolute;
  right: 100px;
  top:15px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Noto Serif Toto', serif;
  color: rgb(0, 16, 70);
  margin-top: 0px;
}
#rocket{
  position: absolute;
  left: 143px;
  top: -3px;
  height: 64px;
  width: 60%;
  padding-left: 30px;
  padding-right: 30px;
}
#rocket-img{
  width: 20px
}
.left{
  margin-top: 30px;
}
#notifications-popup{
  
}
#form__container{
  border: 5px solid rgb(3, 0, 41);
  border-radius: 17px;
}
#about{
  position: absolute;
  top:15px;
  left:500px;
  color: rgb(0, 26, 112);
  
}
#about:hover{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(3, 0, 41);
}
#contact{
  position: absolute;
  top:15px;
  left:600px;
  color: rgb(0, 25, 105);
  
}
#contact:hover{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(3, 0, 41);

}